In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
import seaborn as sns

In [180]:
train_data = pd.read_csv('data/england.csv')
test_data = pd.read_csv('data/future.csv')

In [4]:
train_data.head()

,date,time,day_of_week,season,country,league,league_level,home_team,away_tem,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link,home_scored,away_scored
0,28.12.2016,19:45,Wednesday,2016,england,premier-league-2016-2017,1,Southampton,Tottenham,3.03,3.20,2.61,1.54,1.42,1.38,1.07,7.9,1.35,3.29,1.55,2.52,2.19,1.77,3.20,1.37,3.93,1.26,1.86,2.02,https://www.oddsportal.com/soccer/england/prem...,1,4
1,08.04.2017,14:00,Saturday,2017,england,premier-league-2016-2017,1,Manchester City,Hull,1.19,7.96,16.00,1.02,5.40,1.10,0.00,0.0,1.09,7.40,1.09,6.80,1.35,3.26,1.50,2.66,1.93,1.96,1.95,1.93,https://www.oddsportal.com/soccer/england/prem...,3,1
2,17.12.2016,15:00,Saturday,2016,england,premier-league-2016-2017,1,Middlesbrough,Swansea,2.11,3.33,3.98,1.28,1.79,1.36,1.07,7.9,1.36,3.22,1.57,2.47,2.23,1.74,3.15,1.38,3.93,1.27,1.94,1.94,https://www.oddsportal.com/soccer/england/prem...,3,0
3,05.11.2016,15:00,Saturday,2016,england,premier-league-2016-2017,1,Manchester City,Middlesbrough,1.21,7.43,16.00,1.03,4.89,1.11,1.07,15.0,1.17,6.23,1.21,5.70,1.49,2.89,1.79,2.26,2.16,1.73,2.00,1.77,https://www.oddsportal.com/soccer/england/prem...,1,1
4,01.04.2017,16:30,Saturday,2017,england,premier-league-2016-2017,1,Southampton,Bournemouth,1.67,4.11,5.38,1.17,2.30,1.27,0.00,0.0,1.21,4.50,1.32,3.52,1.80,2.20,2.25,1.68,2.81,1.44,1.77,2.15,https://www.oddsportal.com/soccer/england/prem...,0,0

In [5]:
train_data = train_data.rename(columns={'away_tem':'away_team'})
test_data = test_data.rename(columns={'away_tem':'away_team'})

In [6]:
test_data.head()

,date,time,day_of_week,season,country,league,league_level,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link
0,10.03.2022,19:30,Today,2022,england,premier-league,1,Norwich,Chelsea,10.95,5.66,1.30,3.70,1.06,1.17,1.03,10.69,1.22,4.13,1.33,3.30,1.73,2.18,2.19,1.70,2.73,1.45,2.23,1.65,https://www.oddsportal.com/soccer/england/prem...
1,10.03.2022,19:30,Today,2022,england,premier-league,1,Southampton,Newcastle,2.00,3.73,3.79,1.29,1.89,1.30,1.05,9.25,1.24,3.89,1.37,3.07,1.81,2.08,2.33,1.61,2.89,1.40,1.68,2.18,https://www.oddsportal.com/soccer/england/prem...
2,10.03.2022,19:30,Today,2022,england,premier-league,1,Wolves,Watford,1.86,3.51,4.77,1.21,2.01,1.33,1.11,5.81,1.44,2.77,1.76,2.10,2.37,1.62,3.52,1.29,4.23,1.21,2.16,1.69,https://www.oddsportal.com/soccer/england/prem...
3,10.03.2022,19:45,Today,2022,england,premier-league,1,Leeds,Aston Villa,2.74,3.61,2.56,1.56,1.49,1.32,1.04,9.92,1.21,4.16,1.32,3.34,1.72,2.20,2.15,1.73,2.69,1.47,1.59,2.33,https://www.oddsportal.com/soccer/england/prem...
4,12.03.2022,12:30,Saturday,2022,england,premier-league,1,Brighton,Liverpool,6.20,4.61,1.52,2.65,1.14,1.22,1.02,11.29,1.20,4.41,1.29,3.54,1.66,2.28,2.06,1.79,2.58,1.50,1.75,2.05,https://www.oddsportal.com/soccer/england/prem...

In [7]:
train_data[train_data.total_over_1_rate.isna()]

,date,time,day_of_week,season,country,league,league_level,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link,home_scored,away_scored
950,26.12.2019,15:00,Thursday,2019,england,premier-league-2019-2020,1,Aston Villa,Norwich,2.23,3.79,3.04,1.40,1.69,1.29,NaN,11.0,1.16,5.12,1.22,4.0,1.53,2.50,1.82,2.04,2.32,1.61,1.46,2.74,https://www.oddsportal.com/soccer/england/prem...,1,0
959,27.12.2019,19:45,Friday,2019,england,premier-league-2019-2020,1,Wolves,Manchester City,7.07,5.52,1.40,3.11,1.12,1.17,NaN,15.0,1.15,5.35,1.22,4.4,1.48,2.69,1.77,2.13,2.26,1.65,1.67,2.19,https://www.oddsportal.com/soccer/england/prem...,3,2

In [8]:
train_data = train_data.fillna(1.01)

In [9]:
train_data.date = pd.to_datetime(train_data.date)

In [10]:
train_data.sort_values(by='date')

,date,time,day_of_week,season,country,league,league_level,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link,home_scored,away_scored
49,2016-01-10,14:00,Saturday,2016,england,premier-league-2016-2017,1,Sunderland,West Brom,2.58,3.20,3.19,1.39,1.56,1.39,1.08,7.20,1.37,3.10,1.65,2.30,2.35,1.71,3.40,1.34,4.10,1.24,1.85,1.95,https://www.oddsportal.com/soccer/england/prem...,1,1
116,2016-01-10,14:00,Saturday,2016,england,premier-league-2016-2017,1,Hull,Chelsea,7.70,5.00,1.46,3.02,1.10,1.21,1.04,10.50,1.18,4.84,1.27,3.92,1.70,2.34,2.15,1.83,2.63,1.49,1.78,2.04,https://www.oddsportal.com/soccer/england/prem...,0,2
153,2016-01-10,14:00,Saturday,2016,england,premier-league-2016-2017,1,Watford,Bournemouth,2.50,3.34,3.19,1.39,1.60,1.37,1.05,9.00,1.29,3.66,1.47,2.77,2.06,1.91,2.76,1.47,3.38,1.32,1.70,2.15,https://www.oddsportal.com/soccer/england/prem...,2,2
154,2016-01-10,14:00,Saturday,2016,england,premier-league-2016-2017,1,West Ham,Middlesbrough,2.08,3.50,4.06,1.27,1.83,1.34,1.06,8.00,1.30,3.54,1.50,2.68,2.10,1.87,2.86,1.45,3.52,1.30,1.78,2.04,https://www.oddsportal.com/soccer/england/prem...,1,1
92,2016-01-10,11:30,Saturday,2016,england,premier-league-2016-2017,1,Swansea,Liverpool,7.80,5.10,1.46,2.96,1.11,1.20,1.02,13.50,1.13,6.10,1.19,5.00,1.54,2.77,1.77,2.10,2.22,1.66,1.62,2.25,https://www.oddsportal.com/soccer/england/prem...,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,2022-12-02,15:00,Saturday,2022,england,premier-league,1,Watford,Brighton,3.93,3.36,2.09,1.83,1.27,1.35,1.10,6.66,1.40,3.00,1.67,2.27,2.24,1.69,3.21,1.34,4.04,1.24,1.91,1.90,https://www.oddsportal.com/soccer/england/prem...,0,2
1561,2022-12-02,15:00,Saturday,2022,england,premier-league,1,Everton,Leeds,2.44,3.78,2.80,1.49,1.57,1.31,1.04,10.02,1.21,4.48,1.28,3.59,1.65,2.29,2.10,1.80,2.62,1.50,1.55,2.45,https://www.oddsportal.com/soccer/england/prem...,3,0
1700,2022-12-02,12:30,Saturday,2022,england,premier-league,1,Manchester Utd,Southampton,1.58,4.42,5.81,1.14,2.57,1.23,1.03,12.79,1.18,4.91,1.23,4.06,1.56,2.47,1.88,2.00,2.38,1.60,1.63,2.29,https://www.oddsportal.com/soccer/england/prem...,1,1
1677,2022-12-02,17:30,Saturday,2022,england,premier-league,1,Norwich,Manchester City,17.14,7.97,1.18,4.72,1.04,1.12,1.02,13.47,1.17,5.01,1.22,4.21,1.53,2.55,1.85,2.03,2.33,1.63,2.39,1.58,https://www.oddsportal.com/soccer/england/prem...,0,4
1521,2022-12-02,15:00,Saturday,2022,england,premier-league,1,Brentford,Crystal Palace,2.93,3.11,2.74,1.55,1.42,1.40,1.11,6.09,1.42,2.87,1.73,2.19,2.31,1.63,3.41,1.31,4.24,1.22,1.89,1.93,https://www.oddsportal.com/soccer/england/prem...,0,0

In [11]:
numeric_features = train_data.select_dtypes(include=['int', 'float']).columns
numeric_features

Index(['season', 'league_level', 'home_win_rate', 'draw_rate', 'away_win_rate',
       'home_double_chance_rate', 'away_double_chance_rate', 'no_draw_rate',
       'total_over_1_rate', 'total_under_1_rate', 'total_over_15_rate',
       'total_under_15_rate', 'total_over_2_rate', 'total_under_2_rate',
       'total_over_25_rate', 'total_under_25_rate', 'total_over_3_rate',
       'total_under_3_rate', 'total_over_35_rate', 'total_under_35_rate',
       'both_team_to_score_yes', 'both_team_to_score_no', 'home_scored',
       'away_scored'],
      dtype='object')

In [12]:
date_features = ['date', 'time']

In [13]:
train_data = train_data.drop(columns=['link', 'league','country'])
test_data = test_data.drop(columns=['link', 'league', 'country'])

In [49]:
train_data = train_data.drop(columns=['league_level'])
test_data = test_data.drop(columns=['league_level'])

In [14]:
train_data['season'] = train_data.season.astype('object')
test_data['season'] = test_data.season.astype('object')

In [16]:
categorical_features = train_data.drop(columns=['date', 'time']).select_dtypes(include=['object']).columns
categorical_features

Index(['day_of_week', 'season', 'home_team', 'away_team'], dtype='object')

In [50]:
train_data.shape

(1740, 28)

In [18]:
def set_target(row):
    if row.home_scored > row.away_scored:
        return 0
    elif row.home_scored == row.away_scored:
        return 1
    else:
        return 2

In [63]:
train_data.head()

,date,time,day_of_week,season,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,home_scored,away_scored
0,2016-12-28,19:45,Wednesday,2016,Southampton,Tottenham,3.03,3.20,2.61,1.54,1.42,1.38,1.07,7.9,1.35,3.29,1.55,2.52,2.19,1.77,3.20,1.37,3.93,1.26,1.86,2.02,1,4
1,2017-08-04,14:00,Saturday,2017,Manchester City,Hull,1.19,7.96,16.00,1.02,5.40,1.10,0.00,0.0,1.09,7.40,1.09,6.80,1.35,3.26,1.50,2.66,1.93,1.96,1.95,1.93,3,1
2,2016-12-17,15:00,Saturday,2016,Middlesbrough,Swansea,2.11,3.33,3.98,1.28,1.79,1.36,1.07,7.9,1.36,3.22,1.57,2.47,2.23,1.74,3.15,1.38,3.93,1.27,1.94,1.94,3,0
3,2016-05-11,15:00,Saturday,2016,Manchester City,Middlesbrough,1.21,7.43,16.00,1.03,4.89,1.11,1.07,15.0,1.17,6.23,1.21,5.70,1.49,2.89,1.79,2.26,2.16,1.73,2.00,1.77,1,1
4,2017-01-04,16:30,Saturday,2017,Southampton,Bournemouth,1.67,4.11,5.38,1.17,2.30,1.27,0.00,0.0,1.21,4.50,1.32,3.52,1.80,2.20,2.25,1.68,2.81,1.44,1.77,2.15,0,0

In [143]:
class DataTransformer:
    def __init__(self, context):
        self.train = context['train']
        self.test = context['test']
        self.numeric_features = context['numeric']
        self.categorical_features = context['categorical']
    
    def run_logic(self):
        self.train['target'] = self.train.apply(self.set_target, axis = 1)
        self.team_encoding()
        self.categorical_encoding()
        self.drop_useless_cols()
        self.split()
        return self.train, self.val, self.test
        
    
    def set_target(self, row):
        if row.home_scored > row.away_scored:
            return 0
        elif row.home_scored == row.away_scored:
            return 1
        else:
            return 2
        
    def drop_useless_cols(self):
        self.train = self.train.drop(columns=['date','time','home_scored','away_scored'])
        self.test = self.test.drop(columns=['date','time'])

        
    def all_time_mean(self):
        pass
    
    def season_mean(self):
        pass
    
    def team_encoding(self):
        all_teams = self.train.sort_values(by='home_team').home_team.unique()
        teams_labels = {team:number for number, team in enumerate(all_teams)}
        self.train['home_team'] = self.train['home_team'].map(teams_labels)
        self.train['away_team'] = self.train['away_team'].map(teams_labels)
        self.test['home_team'] = self.test['home_team'].map(teams_labels)
        self.test['away_team'] = self.test['away_team'].map(teams_labels)

    
    def categorical_encoding(self):
        labelencoder = LabelEncoder()
        for col in ['day_of_week', 'season']:
            self.train.loc[:, col] = labelencoder.fit_transform(self.train.loc[:, col])
            self.test.loc[:, col] = labelencoder.fit_transform(self.test.loc[:, col])
        
    
    
    def season_current_pos(self):
        pass
    
    def split(self):
        train_shape = self.train.shape
        self.val = self.train.loc[train_shape[0] - 100:]
        self.train = self.train.loc[:train_shape[0] - 101]

In [144]:
context = {'train':train_data,
            'test':test_data,
           'numeric':numeric_features,
           'categorical':categorical_features
          }

In [145]:
transformer = DataTransformer(context)
train, val, test = transformer.run_logic()

In [146]:
train.shape, val.shape, test.shape

((1640, 25), (100, 25), (7, 24))

In [148]:
X_train, y_train = train.drop(columns=['target']), train.target
X_val, y_val = val.drop(columns=['target']), val.target

# Baseline model

In [150]:
from catboost import CatBoostClassifier, Pool

In [155]:
from sklearn.metrics import roc_auc_score, log_loss, accuracy_score

In [153]:
cat_features = list(categorical_features)

Train = Pool(data=X_train,
             label=y_train,
             cat_features=cat_features)
            
Valid = Pool(data=X_val,
             label=y_val,
             cat_features=cat_features)

In [154]:
model = CatBoostClassifier( random_seed = 17,     
                           n_estimators = 1000,
                           learning_rate = 0.01,
                            thread_count = -1, 
                            verbose = 100,  
                            loss_function='MultiClass',
                            task_type = "GPU",
                          early_stopping_rounds=100)


model.fit(Train, eval_set=Valid)
preds_class = model.predict(Valid)
preds_proba = model.predict_proba(Valid)

0:	learn: 1.0962170	test: 1.0966750	best: 1.0966750 (0)	total: 38ms	remaining: 37.9s
100:	learn: 0.9493678	test: 0.9903013	best: 0.9903013 (100)	total: 791ms	remaining: 7.04s
200:	learn: 0.9041722	test: 0.9670859	best: 0.9670859 (200)	total: 1.39s	remaining: 5.53s
300:	learn: 0.8796804	test: 0.9608940	best: 0.9608386 (299)	total: 2.08s	remaining: 4.83s
400:	learn: 0.8612795	test: 0.9585776	best: 0.9585127 (388)	total: 2.74s	remaining: 4.1s
500:	learn: 0.8448919	test: 0.9586456	best: 0.9577626 (469)	total: 3.33s	remaining: 3.32s
600:	learn: 0.8304055	test: 0.9587012	best: 0.9575484 (545)	total: 3.88s	remaining: 2.58s
bestTest = 0.9575483704
bestIteration = 545
Shrink model to first 546 iterations.

In [157]:
print(f'Validation ACCURACY SCORE: {accuracy_score(y_val, preds_class)}')

Validation ACCURACY SCORE: 0.54

In [170]:
print(f'Validation ROC AUC SCORE: {roc_auc_score(y_val, preds_proba, multi_class="ovr")}')

Validation ROC AUC SCORE: 0.6939261555221647

In [167]:
roc_auc_score(y_val, preds_proba, multi_class='ovr')

0.6939261555221647

In [172]:
test_proba = model.predict_proba(test)

In [174]:
test

,day_of_week,season,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no
0,1,0,20,7,10.95,5.66,1.30,3.70,1.06,1.17,1.03,10.69,1.22,4.13,1.33,3.30,1.73,2.18,2.19,1.70,2.73,1.45,2.23,1.65
1,1,0,22,19,2.00,3.73,3.79,1.29,1.89,1.30,1.05,9.25,1.24,3.89,1.37,3.07,1.81,2.08,2.33,1.61,2.89,1.40,1.68,2.18
2,1,0,30,27,1.86,3.51,4.77,1.21,2.01,1.33,1.11,5.81,1.44,2.77,1.76,2.10,2.37,1.62,3.52,1.29,4.23,1.21,2.16,1.69
3,1,0,13,1,2.74,3.61,2.56,1.56,1.49,1.32,1.04,9.92,1.21,4.16,1.32,3.34,1.72,2.20,2.15,1.73,2.69,1.47,1.59,2.33
4,0,0,4,15,6.20,4.61,1.52,2.65,1.14,1.22,1.02,11.29,1.20,4.41,1.29,3.54,1.66,2.28,2.06,1.79,2.58,1.50,1.75,2.05
5,0,0,3,5,2.21,3.30,3.56,1.33,1.69,1.37,1.12,5.76,1.45,2.75,1.76,2.09,2.38,1.62,3.58,1.29,4.34,1.20,2.05,1.75
6,0,0,17,26,2.12,3.62,3.47,1.33,1.78,1.32,1.05,9.52,1.23,3.99,1.35,3.19,1.76,2.13,2.25,1.65,2.80,1.43,1.64,2.21

In [173]:
test_proba

array([[0.10310217, 0.11904331, 0.77785452],
       [0.50123982, 0.27087583, 0.22788435],
       [0.46478424, 0.2769733 , 0.25824246],
       [0.324315  , 0.21665692, 0.45902808],
       [0.15014267, 0.14610381, 0.70375351],
       [0.34233171, 0.3265923 , 0.33107599],
       [0.45271898, 0.28858234, 0.25869868]])

In [181]:
all_teams = train_data.sort_values(by='home_team').home_team.unique()
teams_labels = {team:number for number, team in enumerate(all_teams)}
decode_teams = {number:team for number, team in enumerate(all_teams)}

In [186]:
test_predictions = pd.DataFrame()
test_predictions['home_team'] = test.home_team.map(decode_teams)
test_predictions['away_team'] = test.away_team.map(decode_teams)
test_predictions['home_win_proba'] = test_proba[:,0]
test_predictions['draw_proba'] = test_proba[:,1]
test_predictions['away_win_proba'] = test_proba[:,2]
test_predictions['home_win_rate'] = test.home_win_rate
test_predictions['draw_rate'] = test.draw_rate
test_predictions['away_win_rate'] = test.away_win_rate

In [187]:
test_predictions

,home_team,away_team,home_win_proba,draw_proba,away_win_proba,home_win_rate,draw_rate,away_win_rate
0,Norwich,Chelsea,0.103102,0.119043,0.777855,10.95,5.66,1.30
1,Southampton,Newcastle,0.501240,0.270876,0.227884,2.00,3.73,3.79
2,Wolves,Watford,0.464784,0.276973,0.258242,1.86,3.51,4.77
3,Leeds,Aston Villa,0.324315,0.216657,0.459028,2.74,3.61,2.56
4,Brighton,Liverpool,0.150143,0.146104,0.703754,6.20,4.61,1.52
5,Brentford,Burnley,0.342332,0.326592,0.331076,2.21,3.30,3.56
6,Manchester Utd,Tottenham,0.452719,0.288582,0.258699,2.12,3.62,3.47

# Ð¡Ñ‡Ð¸Ñ‚Ð°ÐµÐ¼ ROI

In [190]:
class ROIChecker():
    def __init__(self, predictions):
        self.predictions = predictions
        self.roi_info = pd.DataFrame()

    
    def get_roi(self):
        
        self.predictions['home_win_ROI'] = self.predictions.home_win_rate * self.predictions.home_win_proba - 1
        self.predictions['away_win_ROI'] = self.predictions.away_win_rate * self.predictions.away_win_proba - 1
        self.predictions['draw_ROI'] = self.predictions.draw_rate * self.predictions.draw_proba - 1
        
        
        return self.predictions

In [191]:
checker = ROIChecker(test_predictions)
roi_info = checker.get_roi()

In [193]:
roi_info

,home_team,away_team,home_win_proba,draw_proba,away_win_proba,home_win_rate,draw_rate,away_win_rate,home_win_ROI,away_win_ROI,draw_ROI
0,Norwich,Chelsea,0.103102,0.119043,0.777855,10.95,5.66,1.30,0.128969,0.011211,-0.326215
1,Southampton,Newcastle,0.501240,0.270876,0.227884,2.00,3.73,3.79,0.002480,-0.136318,0.010367
2,Wolves,Watford,0.464784,0.276973,0.258242,1.86,3.51,4.77,-0.135501,0.231817,-0.027824
3,Leeds,Aston Villa,0.324315,0.216657,0.459028,2.74,3.61,2.56,-0.111377,0.175112,-0.217869
4,Brighton,Liverpool,0.150143,0.146104,0.703754,6.20,4.61,1.52,-0.069115,0.069705,-0.326461
5,Brentford,Burnley,0.342332,0.326592,0.331076,2.21,3.30,3.56,-0.243447,0.178631,0.077755
6,Manchester Utd,Tottenham,0.452719,0.288582,0.258699,2.12,3.62,3.47,-0.040236,-0.102316,0.044668

In [227]:
def explain_roi_info(roi_info):
    roi_cols = ['home_win_ROI', 'away_win_ROI', 'draw_ROI']
    for index, row in roi_info.iterrows():
        print(f"Match #{index+1}: {row.home_team} vs {row.away_team}")
        
        max_roi = np.max(roi_info.loc[index, roi_cols])
        current_choice = 'home_win_ROI'
        
        for col in roi_cols:
            if row[col] == max_roi:
                current_choice = col
        
        if max_roi > 0:
            print(f"Maximal ROI = {max_roi*100}% on {' '.join(current_choice.split('_')[:1])}")
        
        else:
            print("ÐÐµÑ‚ Ð¿Ð¾Ð»Ð¾Ð¶Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾Ð³Ð¾ ROI")
            
        print('_______________________________ \n')

In [228]:
explain_roi_info(roi_info)

Match #1: Norwich vs Chelsea
Maximal ROI = 12.896879559380414% on home
_______________________________

Match #2: Southampton vs Newcastle
Maximal ROI = 1.0366834894308674% on draw
_______________________________

Match #3: Wolves vs Watford
Maximal ROI = 23.181654348063873% on away
_______________________________

Match #4: Leeds vs Aston Villa
Maximal ROI = 17.51118830446263% on away
_______________________________

Match #5: Brighton vs Liverpool
Maximal ROI = 6.970533604076179% on away
_______________________________

Match #6: Brentford vs Burnley
Maximal ROI = 17.863053056812994% on away
_______________________________

Match #7: Manchester Utd vs Tottenham
Maximal ROI = 4.466808657051047% on draw
_______________________________

# ÐÐ°Ð±Ñ€Ð¾ÑÐºÐ¸ Ñ„Ð¸Ñ‡ÐµÐ¹

In [65]:
train_data.groupby(['home_team'],as_index=False).mean().head()

,home_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,home_scored,away_scored
0,Arsenal,2.044773,4.728864,6.356023,1.280795,2.522159,1.205341,0.883295,10.447727,1.185227,4.966364,1.277500,4.084091,1.627045,2.457386,2.025227,1.961023,2.557727,1.591932,1.723750,2.213636,2.034091,1.034091
1,Aston Villa,3.620244,4.000000,2.884146,1.810244,1.565610,1.290976,1.030488,9.488049,1.240732,4.263902,1.381707,3.315610,1.783171,2.192683,2.336098,1.727805,2.912439,1.465366,1.688780,2.223659,1.536585,1.536585
2,Bournemouth,3.343051,3.779153,2.922203,1.604237,1.508644,1.256610,0.941356,9.224746,1.243390,4.091864,1.386441,3.278644,1.841356,2.101186,2.431525,1.665085,2.992203,1.425932,1.708644,2.208983,1.576271,1.406780
3,Brentford,3.574000,3.594000,2.853000,1.730000,1.503000,1.335000,1.091000,7.315000,1.359000,3.271000,1.603000,2.506000,2.127000,1.802000,3.029000,1.419000,3.752000,1.291000,1.899000,1.931000,1.000000,1.200000
4,Brighton,3.783194,3.741389,2.978194,1.775556,1.536111,1.314444,1.081528,8.144861,1.321250,3.518611,1.551667,2.707500,2.063056,1.883611,2.961528,1.488056,3.581528,1.321250,1.885000,1.960139,1.055556,1.416667

In [47]:
train_data.loc[:,['away_team', 'season', 'away_scored']].groupby(['away_team','season'], as_index=False).sum()

    away_team  season  away_scored
0     Arsenal    2016           13
1     Arsenal    2017           27
2     Arsenal    2018           28
3     Arsenal    2019           18
4     Arsenal    2020           11
..        ...     ...          ...
150    Wolves    2018           11
151    Wolves    2019           19
152    Wolves    2020           14
153    Wolves    2021           16
154    Wolves    2022            3

[155 rows x 3 columns]